---
layout: basic
---

{% assign page_data = site.data.home %}

<section class="content-area">
  <div class="container">
    <div class="content-area-wrapper text-center">
      <img src="{{site.baseurl}}{{ page_data.page_logo }}" alt="{% t page_logo_alt %}" />
      <h1 class="content-title mb-2">{% t butter_box_title %}</h1>
      <p class="content-text text-black ls-40 mb-2">{% t captive.welcome_details %}</p>
      <!-- Use NoDogSplash-provided variables to render a "continue" button -->
      <form method="get" action="$authaction">
        <input type="hidden" name="tok" value="$tok">
        <input type="hidden" name="redir" value="$redir">
        <input type="submit" value="{% t captive.continue_button %}">
      </form>
    </div>
  </div>
</section>