---
permalink: /news
layout: default
---

<style type="text/css" media="screen">
  html, body, main {
    height: 100%;
  }
  .page-content {
    padding: 30px 0;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
</style>

<div class="container">
  <div class="page-content text-center">
	  <h2>Noticias como la Mantequilla</h1>
	  <p>Acceso fácil y ligero a las noticias que necesita</p>
	  <h3>
		  <a class="darklink" href="https://seemsinnocentenough.site/feeds/el_informador/app">El Informador</a><br/></br>
		  <a class="darklink" href="https://seemsinnocentenough.site/feeds/el_nacional/app/#/">El Nacional</a><br/><br/>
	  <a class="darklink" href="https://seemsinnocentenough.site/feeds/vpitv/app">VPItv</a>
	  </h3>
  </div>
</div>
