<footer class="footer-area">
  <div class="container">
    <div class="footer-area-wrapper text-center">
        <a href="/fdroid-webdash/">{% t view_all_apps %}</a> | <a href="https://gitlab.com/guardianproject/wind-fdroidclient">{% t built_on_fdroid %}</a>
    </div>
  </div>
</footer>
