// -------------------------
// Body Styles
// -------------------------
body {
  background-color: $gold;
  background-image: url("/assets/images/btr-texture.png");
  background-size: 170px;
  min-height: 100vh;
}

// -------------------------
// Link Styles
// -------------------------
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
  color: black;
}

.darklink:link {
  color: grey;
}
.darklink:visited {
  color: grey;
}
.darklink:hover {
  color: grey;
}
.darklink:active {
  color: grey;
}
// -------------------------
// Header Styles
// -------------------------
.header-area {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .header-menu {
    margin-top: 20px;
    &-list {
      padding-left: 0;
      list-style: none;
      li {
        display: inline-block;
        &.active {
          font-weight: 600;
        }
        &:not(:last-child) {
          margin-right: 45px;
        }
      }
    }
  }
}


// -------------------------
// Content Styles
// -------------------------
.content-area {
  background-color: white;
  // This makes the radius as large as a pill shape can be.
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  padding-bottom: Min(50vw, 250px);
  &-topper {
    margin-top: 175px;
    // The content below the topper shouldn't be too high or too low.
    height: Min(Max(50vw, 175px), 250px);
    text-align: center;
    position:relative;
    // Keep Paddy just cresting the top.
    top: calc(-20px - Min(Max(50vw, 175px), 250px) * .3);
    .topper-img {
      width: 40%;
      height: auto;
    }
    .content-title {
      margin-top: 25px;
      margin-left: 15%;
      margin-right: 15%;
      font-size: 36px;
      font-weight: 800;
      @media (max-width: 500px) {
        font-size: 28px;
      }
    }
  }
  &-wrapper {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    .content-subtitle {
      font-size: 20px;
      font-weight: bold;
      text-align: left;
    }
    .split-content {
      display: flex;
    }
    .left-content {
      width: 65%;
    }
    .right-content {
      width: 65%;
    }
    .right-bleed {
      width: 35%;
      img {
        width: calc(100% + 40px);
      }
    }
    .left-img {
      width: 35%;
      img {
        width: 80%;
      }
    }
    .content-text {
      text-align: left;
    }
    // Expander per: https://www.digitalocean.com/community/tutorials/css-collapsible
    input[type='checkbox'] {
      display:none;
    }
    .outlink {
      display: block;
      cursor: pointer;
      transition: all 0.5s ease-out;
    }
    .outlink::after {
      content: url("/assets/images/btr-carrot.svg");
      display: inline-block;
      vertical-align: middle;
      transform: rotate(90deg);
    }    
    .lbl-toggle {
      display: block;
      cursor: pointer;
      transition: all 0.5s ease-out;
    }
    .lbl-toggle::after {
      content: url("/assets/images/btr-carrot.svg");
      display: inline-block;
      vertical-align: middle;
      transform: rotate(180deg);
      transition: transform .25s ease-out;
    } 
    .content-expander {
      border-bottom-color: $light-gray;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      padding: 10px;
      width: 100%;
      text-align: left;
      font-weight: 600;
      font-size: 14px;
      span {
        // Take up space so ::after is on the right
        display: inline-block;
        width: 94%;
      }
    }
    .toggle:checked + .lbl-toggle + .content-expanded {
      max-height: 100vh;
      overflow: visible;
      display: inherit;
    }
    .toggle:checked + .lbl-toggle::after {
      transform: rotate(360deg) translate(0, -2px);
    }
    .toggle:checked + .content-expander {
      border-bottom: none;
    }
    .content-expanded {
      max-height: 0px;
      display: none;
      overflow: hidden;
      transition: max-height .5s ease-in-out;
      width: 100%;
      padding: 0 10px 20px 10px;
      margin-bottom: 40px;
      margin-top: 5px;
      text-align: left;
      font-size: 13px;
      border-bottom-color: $light-gray;
      border-bottom-style: solid;
      border-bottom-width: 2px;
    }
    .content-img {
      img {
        margin-top: 10px;
        position: relative;
        left: -40px;
        // Bleed to the edges of the main section.
        width: calc(100% + 80px);
        height: auto;
      }
    }
  }
}

// -------------------------
// Button Styles
// -------------------------

.btn-android {
  margin: 15px 15px 15px 0px;
  height: 30px;
  width: auto;
}


// -------------------------
// Footer Styles
// -------------------------
.footer-area {
  font-family: $footer-font-family;
  padding: 35px 0;
}


// -------------------------
// Modal Styles
// -------------------------
.modal__content {
  &__header {
    display: flex;
    align-items: flex-start;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .header__logo {
      img {
        display: block;
        max-width: 100%;
        @media (max-width: 768px) {
          max-width: 120px;
          width: 100%;
        }
      }
    }
    .header__text {
      margin: 0 30px;
      max-width: 430px;
      width: 100%;
      @media (max-width: 768px) {
        margin: 20px 0;
      }
      .info__list {
        font-size: 14px;
        list-style: none;
        margin-top: 10px;
        padding: 0;
      }
    }
    .header__btn {
      @media (min-width: 769px) {
        margin-left: auto;
      }
      .btn-main {
        @media (max-width: 992px) {
          font-size: 10px;
        }
      }
    }
  }

  &__description {
    margin: 30px 0;
  }

  &__slider {
    //to prevent slider jump
    @media (min-width: 1200px) {
      min-height: 586px;
      height: 100%;
    }
    .slider-item {
      margin: 0 10px;
    }
    img {
      max-width: 100%;
      @media (max-width: 768px) {
        margin: 0 auto;
      }
    }
  }
}

.modal__footer {
  p {
    font-size: 14px;
    a {
      color: inherit;
    }
  }
}


// -------------------------
// Slider Styles
// -------------------------
.slick-arrow {
  background: $royal-blue;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 34px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  transition: all .3s ease;
  z-index: 1;
  &:hover {
    background-color: lighten($royal-blue, 5%);
  }
  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
